
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 12pt; color: #333333}

td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; line-height: 12pt; color: #333333}

a:link { color: #336699; font: 9pt/12pt verdana, arial, helvetica, san serif; text-decoration: underline }

a:hover { color: #6699CC; font: 9pt/12pt verdana, arial, helvetica, san serif; text-decoration: underline }

a:visited { color: #003366; font: 9pt/12pt verdana, arial, helvetica, san serif; text-decoration: underline }

a:hover { color: #6699CC; font: 9pt/12pt verdana, arial, helvetica, san serif; text-decoration: underline }

